In [8]:
# Datos NBA

In [9]:
import pandas as pd

In [15]:
data = pd.read_csv("nba.csv")
data.shape

(458, 9)

In [11]:
data.head(2)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0

In [ ]:
data.Team.unique().shape, data.Position.unique

In [12]:
suma = group.sum()
suma

NameError: name 'group' is not defined

In [13]:
cond =suma.Salary > 440000000
suma[cond]

NameError: name 'suma' is not defined